# Copy this file to .env.local and fill in your credentials

# KSEI (akses.ksei.co.id)
KSEI_EMAIL=your@email.com
KSEI_PASSWORD=yourplaintextpassword

# Indodax Private API
# Get from: https://indodax.com/trade_api
INDODAX_API_KEY=your_api_key_here
INDODAX_SECRET=your_secret_key_here

DASHBOARD_PASSWORD="password_pilihan_lu_di_sini"
AUTH_SECRET="bikin_string_acak_bebas_buat_pengaman_cookie"
